@font-face {
  font-family: "outfit-regular";
  src: url(../public/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: "outfit-medium";
  src: url(../public/Outfit/static/Outfit-Medium.ttf);
}

@font-face {
  font-family: "outfit-semibold";
  src: url(../public/Outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(../public/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../public/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppins-semibold";
  src: url(../public/Poppins/Poppins-SemiBold.ttf);
}

.outfit-regular {
  font-family: "outfit-regular";
  font-weight: 300;
}

.outfit-medium {
  font-family: "outfit-medium";
  font-weight: 400;
}

.outfit-semibold {
  font-family: "outfit-semibold";
  font-weight: 500;
}

.poppins-regular {
  font-family: "poppins-regular";
  font-weight: 300;
}

.poppins-medium {
  font-family: "poppins-medium";
  font-weight: 400;
}

.poppins-semibold {
  font-family: "poppins-semibold";
  font-weight: 500;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 0.15em solid #d0d5dd;
  border-radius: 50%;
}

input[type="radio"]:checked {
  appearance: none;
  background-color: white;
  margin: 0;
  position: relative;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid #5371ff;
  border-radius: 50%;
}

input[type="radio"]:checked::after {
  content: "";
  width: 9px;
  height: 9px;
  background-size: 100%;
  background: #5371ff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  font-family: "poppins-regular";
  font-size: 16px;
  letter-spacing: 1.2px;
}

input[type="password"] {
  font: "outfit-regular";
  font-size: 18px;
  letter-spacing: 6px;
  -webkit-text-security: square;
}

input {
  font: "outfit-regular";
  font-size: 18px;
  letter-spacing: 3px;
}

.scroll::-webkit-scrollbar {
  display: none;
}